<?xml version="1.0" encoding="UTF-8"?>
<menu>
  <menuitem label="Inicio">
    <action>WelcomeView</action>
    <icon>fas:home fa-fw fa-fw</icon>
  </menuitem>
  <menuitem label="Despesas">
    <icon>fas:edit fa-fw</icon>
    <menu>
      <menuitem label="Ficha Cadastral">
        <action>FichaCadastralList</action>
      </menuitem>
      <menuitem label="Folhas">
        <action>FolhaList</action>
      </menuitem>
      <menuitem label="Eventos">
        <action>EventoList</action>
      </menuitem>
      <menuitem label="Cartão de Credito">
        <menu>
          <menuitem label="Cadastro de Cartão">
            <action>CartaoList</action>
          </menuitem>
          <menuitem label="Listagem">
            <action>DespesaCartaoList</action>
          </menuitem>
          <menuitem label="Nova Despesa">
            <action>DespesaCartaoView</action>
          </menuitem>
        </menu>
      </menuitem>
      <menuitem label="Despesas">
        <menu>
          <menuitem label="Listagem">
            <action>DespesaList</action>
          </menuitem>
          <menuitem label="Nova Despesa">
            <action>DespesaView</action>
          </menuitem>
          <menuitem label="Mapa">
            <action>DespesaMap</action>
          </menuitem>
        </menu>
      </menuitem>
      <menuitem label="Configurações">
        <menu>
          <menuitem label="Ano Mes">
            <action>AnoMesList</action>
          </menuitem>
          <menuitem label="Tipo de Folha">
            <action>TipoFolhaList</action>
          </menuitem>
          <menuitem label="Banco">
            <action>BancoList</action>
          </menuitem>
        </menu>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="_t{Administration}">
    <icon>fas:asterisk fa-fw</icon>
    <menu>
      <menuitem label="Dashboard">
        <action>SystemAdministrationDashboard</action>
        <icon>fas:tachometer-alt fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Programs}">
        <action>SystemProgramList</action>
        <icon>far:file-code fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Groups}">
        <action>SystemGroupList</action>
        <icon>fas:users fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Units}">
        <action>SystemUnitList</action>
        <icon>fas:university fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Users}">
        <action>SystemUserList</action>
        <icon>fas:user fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Contacts}">
        <action>SystemContactsList</action>
        <icon>far:address-card fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Database explorer}">
        <action>SystemDatabaseExplorer</action>
        <icon>fas:database fa-fw</icon>
      </menuitem>
      <menuitem label="_t{SQL Panel}">
        <action>SystemSQLPanel</action>
        <icon>fas:table fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Menu editor}">
        <action>SystemMenuEditor</action>
        <icon>far:edit fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Files diff}">
        <action>SystemFilesDiff</action>
        <icon>fas:file-medical-alt fa-fw</icon>
      </menuitem>
      <menuitem label="PHP Info">
        <action>SystemPHPInfoView</action>
        <icon>fas:info-circle fa-fw</icon>
      </menuitem>
      <menuitem label="System Information">
        <action>SystemInformationView</action>
        <icon>fas:desktop fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Preferences}">
        <action>SystemPreferenceForm#method=onEdit</action>
        <icon>fas:cog fa-fw</icon>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="Logs">
    <icon>fas:desktop fa-fw</icon>
    <menu>
      <menuitem label="Dashboard">
        <action>SystemLogDashboard</action>
        <icon>fas:tachometer-alt fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Access Log}">
        <action>SystemAccessLogList</action>
        <icon>fas:key fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Change Log}">
        <action>SystemChangeLogView</action>
        <icon>fas:film fa-fw</icon>
      </menuitem>
      <menuitem label="_t{SQL Log}">
        <action>SystemSqlLogList</action>
        <icon>fas:database fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Request Log}">
        <action>SystemRequestLogList</action>
        <icon>fas:globe fa-fw</icon>
      </menuitem>
      <menuitem label="_t{PHP Log}">
        <action>SystemPHPErrorLogView</action>
        <icon>fas:exclamation-triangle fa-fw</icon>
      </menuitem>
      <menuitem label="Session dump">
        <action>SystemSessionDumpView</action>
        <icon>fas:code fa-fw</icon>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="Logout">
    <action>LoginForm#method=onLogout#static=1</action>
    <icon>fas:sign-out-alt fa-fw</icon>
  </menuitem>
</menu>
