<!--[main]-->
<div style="padding-top: 10px">

    <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      
    <div style="color: rgb(118, 118, 118);">
        <H1>Painel</H1>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            {$indicator1}
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            {$indicator2}
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            {$indicator3}
        </div>
    </div>
</div>

<!--[/main]-->